<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Chinu AngularJS - Search Multiple - Sort column - Filter Example</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <style>
            body { padding-top:50px; }
        </style>
    </head>
    <!-- Controller name goes here -->
    <body ng-app="chinuApp">


        <div class="container" ng-controller="mainController as main">

            <div class="alert alert-info col-lg-12">
                <div class="col-lg-6">Sort Type: {{ sortType }}</div>
                <div class="col-lg-6">Sort Reverse:  {{ sortReverse }}</div>
                <div class="col-lg-12">Search Query:  {{ search | json}}</div>
            </div>

            <form>
                <div class="form-group row col-lg-12">
                    <div class="col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search Name" ng-model="search.name">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search Email" ng-model="search.email">
                        </div> 
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search Address" ng-model="search.address">
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <select name="age" ng-model="search.age" class="form-control">
                                <option value="">Select Age</option>
                                <option ng-repeat="age in [] | range:100" value="{{age}}">{{age}}</option>
                            </select>
                        </div> 
                    </div>
                    <div class="col-lg-1">
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" ng-click="clearFilter()">Reset</button>
                        </div> 
                    </div>
                </div>
            </form>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">Name 
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">Email
                                <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'address'; sortReverse = !sortReverse">Address
                                <span ng-show="sortType == 'address' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'address' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'age'; sortReverse = !sortReverse">Age
                                <span ng-show="sortType == 'age' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'age' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="profile in filteredData = (chinu | orderBy:sortType:sortReverse | filter:{name:search.name} | filter:{email:search.email} | filter:{address:search.address} | filter:{age:search.age})">
                        <td>{{ profile.name }}</td>
                        <td>{{ profile.email }}</td>
                        <td>{{ profile.address }}</td>
                        <td>{{ profile.age }}</td>
                    </tr>
                    <tr ng-if="filteredData.length==0">
                        <td colspan="4">No record found</td>
                    </tr>
                </tbody>

            </table>
            <p class="text-center btn btn-w-m btn-primary">
                <a href="https://github.com/chinmay235/AngularJS-Search-Multiple-Sort-column-Filter-Example">Back to tutorial</a>
            </p>
            <p class="text-center">
                by <a href="http://www.fb.com/chinmay235" target="_blank">Chinmay</a>
            </p>

        </div>

        <script src="js/angular.min.js"></script>
        <script src="js/controller.js"></script>
    </body>
</html>
